@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@import 'button';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: linear-gradient(to top right, #ffab00, #aa00ff);
    background-attachment: fixed;
    background-size: fill;

    .centerflex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2, h3, p {
            font-family: 'Raleway', sans-serif;
            color: white;
            padding: 10px;
        }
        h1 {
            font-size: 48pt;
        }
        h2 {
            font-size: 32pt;
        }
        h3 {
            font-size: 16pt;
        }
        table {
            min-width: 50vw;
            display: block;
            background-color: rgba(0,0,0,0.2);
            color: white;
            margin: 20px;
            border-collapse: collapse;
            tr[data-toggle="toggle"]:hover {
                cursor: pointer;
            }
            tr:first-child > th {
                border-bottom: 1px solid rgba(255,255,255,0.5);
            }
            tr:first-child > th[colspan="3"] {
                background-color: rgba(0,0,0,0.2);
                border-bottom: none;
            }
            tr+tr {
                border-top: 2px solid rgba(255,255,255,0.4);
            }
            th, td {
                width: calc(50vw / 3);
                padding: 20px;
            }
            &.list {
                th, td {
                    width: 50vw;
                    padding: 20px;
                }
            }
        }
        .hide {
            &.hidden {
                display: none;
            }
        }
    }
    #scrim {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }
    .modal {
        background-color: #121212;
        color: white;
        margin: 15% auto; 
        padding: 20px;
        border-radius: 20px;
        width: 60%; 
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        *+* {
            margin-top: 20px;
        }
        h1 {
            font-size: 18pt;
        }
        h2 {
            font-size: 16pt;
        }
    }
    .row {
        align-content: center;
        display: flex;
        * {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .redbtn {
        --mdc-theme-primary: #dc3545;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        h1, h2, h3, p {
            font-family: 'Raleway', sans-serif;
            color: rgba(255,255,255,0.8);
            padding: 10px;
        }
        background-image: linear-gradient(to top right, #8f4f00, #7000c9);
    }
}